<div class="container">
  <h1><center>Welcome to Shorty!</center></h1>
  <h3><center>Brace your URLs, get ready to get chomped!</center></h3>

  <table>
    <tr>

  <form action="/urls" method="post"><center>
    <input type="text" name="long_link" size=50>
    <input type="submit" value='Shorten it!'> 
  </center></form> 
</div>
